<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="SmokeTest">
	<test name="uampMusicPlayer Test">
		<parameter name="deviceName" value="PhilaEmulator" />
		<parameter name="url" value="http://127.0.0.1:4723/wd/hub" />
		<classes>
			<class name="tests.PlayWakeUpFromWakeUpAlbum" />
		</classes>
	</test>
</suite>